.header-top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: #000000;
  height: 45px;
  background-color: $secondary;
  font-size: 12px;
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0.01em;
  span {
    font-weight: 500;
  }
  i {
    margin-right: 10px;
    font-size: 18px;
  }
}

.header-middle {
  height: 50px;
  position: relative;
  color: #fff;
  .logo-holder {
    position: absolute;
    top: 0;
  }
}

.menu {
  text-align: right;
  height: 100%;
  ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    gap: 30px;
    color: $primary;
    font-weight: 600;
  }
}

.header-bottom {
  height: 200px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
