.header-top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: #000000;
  height: 45px;
  background-color: $secondary;
  font-size: 12px;
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0.01em;
  span {
    font-weight: 500;
  }
  i {
    margin-right: 10px;
    font-size: 18px;
  }
}

.header-middle {
  height: 50px;
  position: relative;
  color: #fff;
  .logo-holder {
    position: absolute;
    top: 0;
  }
}

.menu {
  text-align: right;
  height: 100%;
  position: relative;
  @media screen and (max-width: 767px) {
    overflow: hidden;
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    gap: 30px;
    color: $primary;
    font-weight: 600;
    @media screen and (max-width: 767px) {
      position: absolute;
      transition: all 0.3s ease-in-out;
      background-color: #000;
      flex-direction: column;
      width: 50%;
      align-items: flex-start;
      justify-content: flex-start;
      z-index: 8;
      top: -45px;
      gap: 0;
      transform: translateX(calc(100% + 15px));
      right: 0;
      li {
        padding: 20px;
        &:first-child {
          padding-top: 120px;
        }
      }
    }
    &.open {
      transform: translateX(0+ 15px);
      color: $secondary;
      height: 100vh;
    }
  }
  &.overflow {
    overflow: visible;
  }
}

.header-bottom {
  height: 200px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.burger-menu {
  position: relative;
  cursor: pointer;
  width: 40px;
  margin-left: auto;
  height: 100%;
  padding-top: 15px;
  z-index: 9;
  @media screen and (min-width: 768px) {
    display: none;
  }
  span {
    height: 4px;
    width: 30px;
    display: block;
    margin-bottom: 5px;
    background-color: $primary;
    transition: all 0.5s;
  }
  &.active {
    span {
      background: #ccc;
      &:first-child {
        transform: translate(0px, 8px) rotate(45deg);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:last-child {
        transform: translate(0px, -10px) rotate(320deg);
      }
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba($color: $primary, $alpha: 0.9);
  transition: all 0.5s ease-in-out;
  z-index: -1;
  &.active {
    opacity: 1;
    z-index: 7;
  }
}
