<div class="banner-style3">
  <div class="banner-text">
    To be leaders of visionary projects, <br />be driven by quality and break
    barriers. <br />
    <span>– Concord Investment’s</span>
  </div>
  <nav class="navbar">
    <div class="logo">
      <img src="../assets/img/logo-concord-investment 1.png" alt="" />
    </div>
    <ul>
      <li><a href="./index.html">HOME</a></li>
      <li><a href="./index2.html">Banner style 2</a></li>
      <li><a href="./index3.html">Banner style 3</a></li>
      <li><a href="">Industries</a></li>
      <li><a href="">Contact</a></li>
      <li><a href="">En/AL</a></li>
    </ul>
  </nav>
</div>
