@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "Sentic Text Light";
  src: url("../fonts/sentic/Sentic-Text-Light.woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Sentic Text";
  src: url("../fonts/sentic/Sentic-Text.woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Sentic Text Medium";
  src: url("../fonts/sentic/Sentic-Text-Medium.woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Sentic Text Bold";
  src: url("../fonts/sentic/Sentic-Text-Bold.woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Sentic Text Black";
  src: url("../fonts/sentic/Sentic-Text-Black.woff2");
  font-weight: 900;
}
