.banner {
  height: 100vh;
  @include flex(row, flex-start, center);
  position: relative;
  padding: 0 20px;
  .banner-text {
    font-size: 35px;
    color: $white;
    line-height: 1.29;
    text-align: center;
    color: $primary;
    opacity: 0.5;
    margin-top: 220px;
  }
  .nav-container {
    position: relative;
    padding: 0 20px;
    width: 100%;
    .navbar {
      position: absolute;
      top: 30px;
      left: 50%;
      right: 20px;
      transform: translateX(-50%);
      max-width: 1440px;
      width: 100%;
      padding: 20px 40px;
      @include backdrop-filter();
      border-radius: 20px;
      @include flex(row, center, space-between);
      &.active {
        border-radius: 20px 20px 0 0;
        box-shadow: none;
        // backdrop-filter: none;
      }
      ul {
        @include flex(row, center, space-between);
        gap: 40px;
        @include media(lg) {
          @include flex(column, center, space-between);
          position: absolute;
          max-height: 0;
          overflow: hidden;
          transition: all 0.3s ease-in-out;
          height: 0;
          left: 0;
          top: 89px;
          @include backdrop-filter();
          border-radius: 0 0 20px 20px;
          gap: 30px;
          z-index: 99;
          width: 100%;
          box-shadow: none;
          // backdrop-filter: none;
          &.active {
            max-height: 800px;
            height: auto;
            li {
              &:first-child {
                margin-top: 20px;
              }
              &:last-child {
                margin-bottom: 20px;
              }
              a {
                font-size: 22px;
                font-weight: 600;
              }
            }
          }
        }
        li {
          flex: 1;
          a {
            color: $primary;
            font-size: 15px;
            width: max-content;
            display: block;
            text-transform: uppercase;
            position: relative;
            &::before {
              content: "";
              position: absolute;
              width: 0;
              height: 1px;
              bottom: 0;
              left: 0;
              background-color: $primary;
              visibility: hidden;
              transition: all 0.3s ease-in-out;
            }
            &:hover {
              &::before {
                visibility: visible;
                width: 100%;
              }
            }
          }
        }
      }
      .logo {
        img {
          height: 50px;
        }
      }
    }
  }

  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  .toggle {
    display: none;
    width: 28px;
    @include media(lg) {
      display: block;
    }
    span {
      width: 28px;
      height: 3px;
      display: block;
      background-color: white;
      margin-bottom: 6px;
      &:nth-child(2) {
        width: 15.5px;
        margin-left: auto;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.section-banner {
  height: 100vh;
  position: relative;
  &.single-banner {
    height: 600px;
    position: relative;
  }
  @include media(xl) {
    height: 400px;
  }
  .navbar {
    position: absolute;
    top: 30px;
    left: 35px;
    right: 35px;
    padding: 26px 40px;
    @include backdrop-filter();
    border-radius: 20px;
    @include flex(row, center, space-between);
    ul {
      @include flex(row, center, space-between);
      gap: 40px;
      li {
        flex: 1;
        a {
          color: $primary;
          font-size: 15px;
          width: max-content;
          display: block;
          text-transform: uppercase;
          position: relative;
          &::before {
            content: "";
            position: absolute;
            width: 0;
            height: 1px;
            bottom: 0;
            left: 0;
            background-color: $primary;
            visibility: hidden;
            transition: all 0.3s ease-in-out;
          }
          &:hover {
            &::before {
              visibility: visible;
              width: 100%;
            }
          }
        }
      }
    }
    .logo {
      img {
        height: 34px;
      }
    }
  }
  .page-title {
    font-family: $montserrat;
    font-size: 200px;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.4);
    position: absolute;
    bottom: -27px;
    left: 0;
    text-transform: uppercase;
    line-height: 1;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.4)
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    @include media(xl) {
      font-size: 55px;
      bottom: -8px;
    }
    @include media(md) {
      @include flex(column, flex-start, flex-start);
      font-size: 48px;
    }
  }
  video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    @include media(xl) {
      position: absolute;
    }
  }
}
