footer {
  min-height: 100px;
  @include flex(row, center, space-between);
  font-size: 15px;
  line-height: 3.33;
  padding-top: 100px;
  padding-bottom: 30px;
  background-color: $bg;
  .col {
    text-align: center;
  }
  span {
    display: block;
    text-transform: uppercase;
  }
}

.footer {
  background-color: $bg;
}
