/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Sentic Text Light";
  src: url("../fonts/sentic/Sentic-Text-Light.woff2");
  font-weight: 300;
}
@font-face {
  font-family: "Sentic Text";
  src: url("../fonts/sentic/Sentic-Text.woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Sentic Text Medium";
  src: url("../fonts/sentic/Sentic-Text-Medium.woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Sentic Text Bold";
  src: url("../fonts/sentic/Sentic-Text-Bold.woff2");
  font-weight: 700;
}
@font-face {
  font-family: "Sentic Text Black";
  src: url("../fonts/sentic/Sentic-Text-Black.woff2");
  font-weight: 900;
}
.banner {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  padding: 0 35px;
}
.banner .banner-text {
  font-size: 35px;
  color: #fff;
  line-height: 1.29;
  text-align: center;
  color: #2b2b2b;
  opacity: 0.5;
  margin-top: 220px;
}
.banner .navbar {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1440px;
  width: 100%;
  padding: 20px 40px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(15px);
  box-shadow: inset 0 0 10px 0 rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.banner .navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.banner .navbar ul li {
  flex: 1;
}
.banner .navbar ul li a {
  color: #2b2b2b;
  font-size: 15px;
  width: max-content;
  display: block;
  text-transform: uppercase;
  position: relative;
}
.banner .navbar ul li a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #2b2b2b;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.banner .navbar ul li a:hover::before {
  visibility: visible;
  width: 100%;
}
.banner .navbar .logo img {
  height: 50px;
}
.banner video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.banner-style4 {
  height: 600px;
  position: relative;
}
.banner-style4 .navbar {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1440px;
  width: 100%;
  padding: 20px 40px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(15px);
  box-shadow: inset 0 0 10px 0 rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.banner-style4 .navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.banner-style4 .navbar ul li {
  flex: 1;
}
.banner-style4 .navbar ul li a {
  color: #2b2b2b;
  font-size: 15px;
  width: max-content;
  display: block;
  text-transform: uppercase;
  position: relative;
}
.banner-style4 .navbar ul li a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #2b2b2b;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.banner-style4 .navbar ul li a:hover::before {
  visibility: visible;
  width: 100%;
}
.banner-style4 .navbar .logo img {
  height: 50px;
}
.banner-style4.industries-banner {
  background: url("../img/industry.png") no-repeat center center/cover;
}
.banner-style4 .page-title {
  font-size: 120px;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.4);
  position: absolute;
  bottom: -17px;
  left: 0;
  text-transform: uppercase;
  line-height: 1;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.4));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Montserrat", sans-serif;
}
.banner-style4 video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.slide {
  width: 100vw;
  height: 100vh;
}
.slide .container {
  height: 100%;
}
.slide .slide-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  text-align: right;
  color: #fff;
  position: relative;
}
.slide .slide-content .img {
  width: 90%;
  height: 80%;
  position: relative;
}
.slide .slide-content .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slide .slide-content .slide-text {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 70%;
}
.slide .slide-content .slide-text .title {
  font-size: 60px;
  font-weight: 900;
  line-height: 1.08;
  margin-bottom: 7px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}
.slide .slide-content .slide-text .description {
  font-size: 35px;
  line-height: 1.29;
}
.slide .slide-content .slide-text.last-text {
  text-align: left;
  right: auto;
  left: 0;
  width: auto;
  margin: 0 auto;
  position: unset;
}
.slide .slide-content .slide-text.last-text .title span {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.horizontal-scroll {
  display: flex;
  width: 350vw;
  position: relative;
  background-color: #d8d8d8;
}

.horizontal-scroll-wrapper {
  overflow: hidden;
}

.big-text {
  position: absolute;
  width: 100%;
  font-size: 240px;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.4);
  bottom: 0;
  left: 5%;
  z-index: 9;
  font-family: "Montserrat", sans-serif;
}

.swiper {
  width: 100%;
}
.swiper.homepage-slider {
  height: 290px;
}
.swiper .swiper-slide {
  padding: 30px 5px;
}
.swiper .slide-content {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 34px 0 rgba(255, 255, 255, 0.7), 1px 1px 20px 0 rgba(0, 0, 0, 0.05);
  background-color: rgba(255, 255, 255, 0.5);
}
.swiper .slide-content .title {
  width: 80%;
}
.swiper .slide-content .title span {
  font-size: 45px;
  line-height: 1.22;
  margin-bottom: 3px;
}
.swiper .slide-content .title a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: max-content;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1.5px;
  opacity: 0.5;
}

.slider-container {
  position: relative;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -30px;
}
.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet {
  background: #2b2b2b;
  opacity: 1;
}
.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #f58220;
}

.quote-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 125px;
}
.quote-container img {
  width: 335px;
  object-fit: cover;
  border-radius: 20px;
}
.quote-container .author {
  font-size: 15px;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-top: 25px;
  position: relative;
}
.quote-container .author::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -16%;
  transform: translateY(-50%);
  width: 140px;
  height: 1px;
  background-color: #2b2b2b;
  z-index: -1;
}

.category {
  margin: 50px 0;
}
.category .category-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.category .category-info .info {
  flex: 1;
}
.category .category-info .info .title {
  font-size: 70px;
  line-height: 1;
  margin-bottom: 20px;
}
.category .category-info .info .subtitle {
  font-size: 35px;
  line-height: 1.57;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.category .category-info .info .read-more {
  font-size: 15px;
  font-weight: 500;
  color: #f58220;
  margin-top: 14px;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-left: auto;
  width: max-content;
}
.category .category-img {
  flex: 1;
}
.category .category-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

footer {
  min-height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  line-height: 3.33;
  padding-top: 100px;
  padding-bottom: 30px;
  background-color: #fbfbfb;
}
footer .col {
  text-align: center;
}
footer span {
  display: block;
  text-transform: uppercase;
}

.footer {
  background-color: #fbfbfb;
}

.industries {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  padding: 30px 0;
}
.industries .industry {
  background: rgba(34, 34, 34, 0.05);
  padding: 55px;
  height: 580px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  transition: all 0.3s ease;
}
.industries .industry .category-name {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.industries .industry .name {
  font-size: 45px;
  font-weight: 500;
  letter-spacing: 1.22px;
}
.industries .industry .desc {
  font-size: 25px;
  line-height: 1.4;
}
.industries .industry:hover {
  background: #fff;
  box-shadow: 50px 50px 100px rgba(34, 34, 34, 0.15);
}

.sub-banner {
  width: 100%;
  height: 440px;
  border-radius: 20px;
  position: relative;
}
.sub-banner .page-title {
  font-family: "Montserrat", sans-serif;
  font-size: 120px;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.4);
  position: absolute;
  bottom: -17px;
  left: 0;
  text-transform: uppercase;
  line-height: 1;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.4));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sub-banner.industries-banner {
  background: url("../img/industry.png") no-repeat center center/cover;
}

.category-filter {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.category-filter .filter-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.category-filter .plus-sign {
  position: relative;
  height: 100%;
  width: max-content;
}
.category-filter .plus-sign span {
  display: block;
  width: 10px;
  height: 1px;
  background: #2b2b2b;
  transition: all 0.3s ease;
}
.category-filter .plus-sign span:first-child {
  position: absolute;
  top: 0;
  left: 15px;
  transform: translate(-50%, -50%);
}
.category-filter .plus-sign span:last-child {
  position: absolute;
  top: 0;
  left: 15px;
  transform: translate(-50%, -50%) rotate(90deg);
}
.category-filter .plus-sign span:last-child.minus {
  transform: translate(-50%, -50%) rotate(180deg);
}

.category-filters {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  overflow: hidden;
  transform-origin: top;
  transition: all 0.5s ease;
  overflow: hidden;
  max-height: 0;
  height: 100%;
  margin-left: 30px;
}
.category-filters.show {
  max-height: 800px;
  padding: 0;
}

.form-group {
  display: block;
  margin-bottom: 15px;
}

.form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-group label {
  position: relative;
  cursor: pointer;
}

.form-group label:before {
  content: "";
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 2px solid #2b2b2b;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 6px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
  top: -2px;
}

.form-group input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  left: 6px;
  width: 4px;
  height: 10px;
  border: solid #2b2b2b;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.filter-container {
  padding: 200px 0 50px;
}

.about-banner {
  height: 100vh;
  position: relative;
}
.about-banner .navbar {
  position: absolute;
  top: 30px;
  left: 35px;
  right: 35px;
  padding: 26px 40px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(15px);
  box-shadow: inset 0 0 10px 0 rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.about-banner .navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.about-banner .navbar ul li {
  flex: 1;
}
.about-banner .navbar ul li a {
  color: #2b2b2b;
  font-size: 15px;
  width: max-content;
  display: block;
  text-transform: uppercase;
  position: relative;
}
.about-banner .navbar ul li a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #2b2b2b;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.about-banner .navbar ul li a:hover::before {
  visibility: visible;
  width: 100%;
}
.about-banner .navbar .logo img {
  height: 34px;
}
.about-banner .page-title {
  font-family: "Montserrat", sans-serif;
  font-size: 200px;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.4);
  position: absolute;
  bottom: -27px;
  left: 0;
  text-transform: uppercase;
  line-height: 1;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.4));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about-banner .page-title.industries-title {
  bottom: -35px;
}
.about-banner video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.stats {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  padding-top: 70px;
  gap: 50px;
}
.stats .stat {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
}
.stats .stat .number {
  font-size: 80px;
  font-weight: 300;
  line-height: 0.8;
}
.stats .stat .text {
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 1.5px;
}

.board .title {
  font-size: 60px;
  font-weight: 900;
  line-height: 1.08;
  position: relative;
  top: 35px;
  font-family: "Montserrat", sans-serif;
}
.board .board-members {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  margin-left: auto;
  width: max-content;
  padding-right: 140px;
}
.board .board-members img {
  width: 335px;
  height: 425px;
  object-fit: cover;
  margin-bottom: 20px;
  border-radius: 10px;
}
.board .board-members .name,
.board .board-members .position {
  font-size: 15px;
  font-weight: 500;
}
.board .board-members .position {
  opacity: 0.5;
}

.partners {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 110px;
}
.partners .title {
  font-size: 60px;
  font-weight: 900;
  line-height: 1.08;
  position: relative;
  top: 35px;
  font-family: "Montserrat", sans-serif;
}
.partners ul {
  margin-top: 50px;
}
.partners ul li {
  font-size: 25px;
  line-height: 1.6;
}
.partners ul li span {
  font-size: 15px;
}

.parallax {
  background-color: #fbfbfb;
}

.industry-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 70px 0 40px;
  text-transform: uppercase;
}
.industry-info .link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.ceo {
  margin-top: 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 120px;
}
.ceo .name {
  font-size: 45px;
  line-height: 1.22;
  margin-bottom: 10px;
}
.ceo .position {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1.5px;
  margin-bottom: 30px;
}
.ceo .quote {
  font-size: 25px;
  line-height: 1.8;
}
.ceo .ceo-info {
  padding-left: 120px;
}
.ceo .img {
  flex: 0 0 325px;
}
.ceo .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.media {
  padding: 100px 0;
}
.media .title {
  font-size: 72px;
  margin-bottom: 20px;
  font-weight: 500;
}
.media .section {
  margin-top: 50px;
}
.media .section .section-title {
  font-size: 48px;
  font-weight: 300;
}
.media .section .section-subtitle {
  font-size: 24px;
  margin-bottom: 40px;
}
.media .section .slider-item {
  border-radius: 20px;
  background-color: #f5f5f5;
  transition: all 0.3s ease;
}
.media .section .slider-item:hover {
  background-color: #f58220;
}
.media .section .slider-item img {
  height: 320px;
  object-fit: cover;
  width: 100%;
  border-radius: 20px 20px 0 0;
}
.media .section .slider-item .item-info {
  padding: 30px;
  height: 240px;
  position: relative;
}
.media .section .slider-item .item-info .item-category {
  letter-spacing: 2px;
  text-transform: uppercase;
}
.media .section .slider-item .item-info .item-title {
  font-size: 26px;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
}
.media .section .slider-item .item-info .read-time {
  font-size: 16px;
  margin-top: 10px;
  position: absolute;
  bottom: 30px;
  left: 30px;
  font-weight: 500;
}

.swiper-arrow {
  top: 22%;
  right: 0;
  left: unset;
}
.swiper-arrow.arrow-left {
  right: 65px;
}
.swiper-arrow.arrow-right {
  right: 15px;
  rotate: 180deg;
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.projects .project {
  height: 300px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  position: relative;
}
.projects .project .title {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.6));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Montserrat", sans-serif;
  color: rgba(255, 255, 255, 0.6);
  font-size: 30px;
  font-weight: 900;
}
.projects .project .cat {
  font-size: 15px;
  color: #fff;
}
.projects .project .overlay {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8) 200%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.projects .project .text {
  position: relative;
  z-index: 1;
}

.project-slider .project-slide {
  height: 350px;
  width: 100%;
  border-radius: 10px;
}
.project-slider .project-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

body {
  font-family: "Sentic Text", sans-serif;
  font-weight: 400;
  font-size: 15px;
  overflow-x: hidden;
  background-color: #fbfbfb;
  color: #2b2b2b;
}

.container {
  max-width: 1470px;
  margin: 0 auto;
  padding: 0 15px;
}

.description-text {
  font-size: 45px;
  line-height: 1.22;
}
.description-text.with-margin {
  margin: 160px 0 120px;
}
.description-text.with-padding {
  padding: 0 150px;
}

.category-text {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.category-text span {
  font-weight: 900;
  font-size: 60px;
  font-family: "Montserrat", sans-serif;
}
.category-text.flexed {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.section-margin {
  margin: 200px 0;
}

.arrow-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.next-industry {
  margin-top: 160px;
}
.next-industry .arrow-link {
  border-bottom: 1px solid #2b2b2b;
  width: max-content;
  margin-left: auto;
}

.section {
  position: relative;
}

/*# sourceMappingURL=styles.css.map */
