@import "./utilities/reset.scss";
@import "./utilities/type.scss";
@import "./utilities/variables.scss";

// components
@import "./components/banner.scss";
@import "./components/horizontal-scroll.scss";
@import "./components/slider.scss";
@import "./components/quote.scss";
@import "./components/category.scss";
@import "./components/footer.scss";
@import "./components/industries.scss";
@import "./components/about-us.scss";
@import "./components/industries-single.scss";

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15px;
  overflow-x: hidden;
  background-color: $bg;
  color: $primary;
}

.container {
  max-width: 1470px;
  margin: 0 auto;
  padding: 0 15px;
}

.description-text {
  font-size: 45px;
  line-height: 1.22;
  &.with-margin {
    margin: 160px 0 120px;
  }
  &.with-padding {
    padding: 0 150px;
  }
}

.category-text {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
